:root{
--mainBcgColor: #717171;
--secondaryBcgColor:#a1a1a1;
--cardBackground: #c5c5c5;


--buttonBcg: #6c757d;
--buttonBord:#4c5358;
--textColor: #f6f6f6;
--elementBcg: #f6f6f6;
--navBcgColor: #101010;
--subNavBcgColor: #303030;

--collectionColor:null;
}